*.class
.settings
.classpath
bin
# Package Files #
*.war
*.ear
**/target
**/build
/.gradle
/lib
/.classpath
/.project
**/*.iml
**/*~
.idea
**/*.mo

*.DS_Store

gradle.properties
dependency-reduced-pom.xml
deploy_rsa
